{% extends "collec_management/menu.html" %}
{% load django_bootstrap5 %}
    {% block title %} {{collectionInexistant.title}} {% endblock %}

{% block content %}
    <p>Date : {{collectionInexistant.date}}</p>
    <p>Description :{{collectionInexistant.description}}</p>

    <a href="">Ajouter un élement</a>

    <table  class="">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Value</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Lien</th>
                <th>Modifier</th>
                <th>Supprimer</th>

            </tr>
        </thead>
        <tbody>
          {% for elm in elements %}
          <tr>
              <td>{{ elm.title }}</td>
              <td>{{ elm.description }}</td>
              <td>{{ elm.value }}</td>
              <td>{{ elm.quantity }}</td>
              <td>{{ elm.date }}</td>
              <td><a href="{% url 'element' elm.id %}">Voir l'élément</a></td>
              <td><a href="{% url 'element_edit' elm.id %}">Modifier</a></td>
              <td><a href="">Supprimer</a></td>

          </tr>
          {% endfor %}
        </tbody>
    </table>

<style>

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
  padding-left: 10px;
  padding-right: 10px;
}
</style>

{% endblock %}
