{% extends 'collec_management/menu.html' %}
{% load django_bootstrap5 %}
{% block title%}{{ element.title }}{% endblock %}
{% block content%}
    <h1>Voulez-vous vraiment supprimer cet élément : <b>{{ element.title }}</b> ?</h1>
    <p><b>Collection :</b> {{element.collection.title}}</p>
    <p><b>Description :</b> {{element.description}}</p>
    <p><b>Date :</b> {{element.date}}</p>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_button button_type="submit" content="Supprimer" %}
    </form>
{% endblock %}
