{% extends 'collec_management/bootstrap5.html' %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}Bienvenue dans notre application{% endblock %}</h1>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">&Agrave; propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'new' %}">Créer une nouvelle collection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all' %}">Les collections</a>
            </li>
        </ul>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        <hr>
          <br>
        {% block content %}
          {% if user.is_authenticated %}
              Bienvenue {{ user.username }}!
              {% else %}
              
            {% endif %}
        {% endblock %}

        <hr>
        <br>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
            </form>
            {% else %}

            {% if "login" not in request.get_full_path %}
              <p>Vous n'êtes pas connecter</p>
              <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
