{% extends 'collec_management/bootstrap5.html' %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}Bienvenue dans notre application{% endblock %}</h1>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">&Agrave; propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'new' %}">nouveau</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all' %}">les collections</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            Bienvenue {{ user.username }}!
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
            </form>
            {% else %}
            <p>Vous etes pas connecter</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}